.Doc-background {
  position: fixed;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cream);
}

.Doc-headerContainer {
  width: 100%;
  display: flex;
  position: fixed;
  max-height: 120px;
  padding: var(--m);
  margin: 0;
  top: 0;
  background-color: var(--main-blue);
}

.Doc-headerText {
  width: 80%;
  text-align: center;
  color: var(--cream);
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  font-size: 16pt;
  text-wrap: pretty;
  overflow-y: scroll;
}

.Doc-backButton {
  font-size: 16px;
  color: var(--cream);
  border-color: var(--cream);
  padding: var(--s);
  background-color: var(--main-blue);
  align-self: start;
}

.Doc-pageButton {
  font-size: 16px;
  color: var(--cream);
  border-color: var(--light-brown);
  padding: var(--s);
  background-color: var(--light-brown);

  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 1;
}

.Doc-textContainer {
  width: 100%;
  position: relative;
  top: 120px;
  height: 100%;
  background-color: red;
}
