.Doc-headerContainer {
  width: 100%;
  max-height: 160px;
  background-color: var(--main-blue);
  display: flex;
}

.Doc-backButtonContainter {
  flex-basis: 20%;
}

.Doc-backButton {
  color: var(--cream);
  border-color: var(--cream);
  background-color: var(--main-blue);
  justify-self: center;
}

.Doc-promptButton {
  margin-top: 0px;
}

.Doc-promptContainer {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Doc-promptText::-webkit-scrollbar {
  display: none;
}

.Doc-promptText {
  color: var(--cream);
  font-family: "Source Serif 4", serif;
  font-weight: 600;
  font-size: 16pt;
  text-align: center;

  text-wrap: pretty;
  overflow-y: scroll;

  margin: var(--m);
  width: 100%;
}

.Doc-bodyContainer {
  width: 100%;
  background-color: var(--cream);
  flex-grow: 1;

  display: flex;
  justify-content: center;
}

.Doc-textContainer {
  margin-top: var(--m);
  margin-bottom: var(--m);
  flex-basis: 80%;
}

.Doc-sidebarContainer {
  flex-basis: 10%;
}

.Doc-sidebarRightContainer {
  display: flex;
  justify-content: center;
  align-content: flex-end;
}

.Doc-pageButton {
  color: var(--cream);
  border-color: var(--light-brown);
  background-color: var(--light-brown);

  align-self: flex-end;
  z-index: 1;
}

.Doc-background {
  display: flex;
  flex-direction: column;
}
