.Prompt-promptText {
  width: 80%;
  color: var(--cream);
  max-height: 65%;
  font-size: 80px;
  text-align: center;
}

.Prompt-revealButton {
  font-size: 20px;
  color: var(--cream);
  border-color: var(--cream);
  padding: var(--m);
  background-color: var(--main-blue);
}

.Prompt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-blue);
}
