.Prompt-progress {
  height: 60px;
  width: 60%;

  border: 4pt solid;
  border-color: var(--cream);

  margin: var(--m);
  border-radius: var(--m);
  overflow: hidden;
}

.Prompt-progressBar {
  height: 100%;
  background-color: var(--cream);
}

.Prompt-promptText {
  width: 80%;
  color: var(--cream);
  max-height: 65%;
  font-size: 80px;
  text-align: center;
}

.Prompt-revealButton {
  font-size: 20px;
  color: var(--cream);
  border-color: var(--cream);
  padding: var(--m);
  margin: var(--m);
  background-color: var(--main-blue);
}

.Prompt-backButton {
  color: var(--cream);
  border-color: var(--cream);
  background-color: var(--main-blue);

  position: fixed;
  top: var(--m);
  left: var(--xl);
}

.Prompt-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-blue);
}
