.NavBar-container {
  position: fixed;
  right: 40px;
  background-color: var(--dark-brown);
  display: flex;
  justify-content: center;
  z-index: 10;
}

.NavBar-button {
  font-size: 16px;
  color: var(--cream);
  border-color: var(--cream);
  background-color: var(--dark-brown);
  padding: var(--s) var(--m);

  margin: var(--m);
  justify-self: center;
}
