.TextInput-prompt {
    width: 0%;
    outline-width: 0px;
    border: 0px;
    background-color: var(--main-blue);
}

.TextInput-document {
    width: 80%;
    outline: none;
    border: none;
    color: var(--dark-grey);
    background-color: var(--cream);
    overflow-wrap: normal;
    
}